<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            margin-top: 100px;
            font-family: Arial;
        }
        a {
            padding: 15px 25px;
            background: #4CAF50;
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
    </style>
</head>
<body>

<h1>Student Management System</h1>

<br>

<a href="/ui/">Go to Student UI</a>

<br><br>

<a href="/students/">Go to API</a>

</body>
</html>
